# Generated & Managed by Chef for <%= node[:fqdn] %>#
# The Nginx server instance
user www-data;
worker_processes 4;
pid /run/nginx.pid;
events {
        worker_connections 768;
}

http {
   upstream web_servers {
        <% @node_group[0,9].each do |node| -%>
        server <%= node %> max_fails=3 fail_timeout=30s;
        <% end -%>
    }
    server {
        listen <%= node['sw_lb']['nginx_server_port'] %>;
        server_name nginx.similarweb.com;
        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        location / {
            if ($request_method !~* GET) {
                proxy_pass http://localhost:<%= node['sw_lb']['gor_port'] %>;
            }
            proxy_pass http://web_servers;
        }
        location /nginx_status {
        # Turn on nginx stats
        stub_status on;
        # I do not need logs for stats
        access_log   off;
        # Security: Only allow access from <%= node['sw_lb']['nginx_allowed_ip'] %> IP #
        allow <%= node['sw_lb']['nginx_allowed_ip'] %>;
        # Send rest of the world to /dev/null #
        deny all;
        }
    }
    # This server is created in order to open a socket(<%= node['sw_lb']['gor_port'] %>) for gor as gor does not have a web server.
    server {
        listen <%= node['sw_lb']['gor_port'] %>;
        server_name gor_dummy;
        access_log /var/log/nginx.access.post.log;
        error_log /var/log/nginx.error.post.log;
        location / {
            return 200;
        }
    }
}

 
